<!--The content below is only a placeholder and can be replaced.-->
<div>
  <input type="checkbox" id="heroes" [checked]="toggleHeroes" (click)="toggleHeroes()">
  <label for="heroes">Heroes</label>

  <input type="checkbox" id="config" [checked]="showConfig" (click)="toggleConfig()">
  <label for="config">Config</label>

  <input type="checkbox" id="downloader" [checked]="showDownloader" (click)="toggleDownloader()">
  <label for="downloader">Downloader</label>
</div>
<app-heroes *ngIf="showHeroes"></app-heroes>
<app-config *ngIf="showConfig"></app-config>
<app-messages></app-messages>
<app-downloader *ngIf="showDownloader"></app-downloader>

<router-outlet></router-outlet>
